.Header {
  position: relative;
  display: flex;
  background-color: white;
  /* background-color: yellowgreen; */
  align-items: center;
  height: 65px;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.float-sign-up {
  z-index: 10;
  width: 440px;
  height: 680px;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -220px;
  margin-top: 3%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #e9e9e9;
  /* background-color: lightpink;s */
}
.float-connect {
  z-index: 10;
  width: 420px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: 10%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #e9e9e9;
  /* background-color: lightgreen; */
}
.search {
  display: flex;
  flex: 1;
  /* width: 200px; */
  align-items: center;
  /* background-color: violet; */
}
.icon-search {
  display: flex;
  align-items: center;
  background-color: #f1efef;
  color: #808080;
  border-radius: 5px 0 0 5px;
  height: 39px;
  width: 30px;
  justify-content: center;
}
.search > input {
  flex: 1;
  /* width: 600px; */
  width: 180px;
  margin-right: 30px;
  height: 39px;
  border: none;
  background-color: #f1efef;
  border-radius: 0 5px 5px 0;
  /* background-color: royalblue; */
}
.logo-image {
  min-width: 115px;
  height: 45px;
  margin-right: 60px;
  /* background-color: rebeccapurple; */
}
.logo-image:hover,
button:hover {
  cursor: pointer;
}
.logo-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-button {
  display: flex;
  justify-content: flex-end;
  min-width: 313px;
  /* background-color: royalblue; */
}
.bars {
  display: none;
}
.header-button {
  display: flex;

  justify-content: flex-end;
  /* background-color: rebeccapurple; */
}
/* .header-button > div {
  display: flex;
  background-color: pink;
} */
.header-profile-off {
  display: none;
}
.register,
.login,
.sole,
.sign-out {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  height: 30px;
  width: 115px;
  font-size: 12px;
}
.sign-out {
  border: 1px solid rgb(151, 49, 49);
  background-color: rgb(151, 49, 49);
  color: white;
}
.register,
.login {
  color: #2cb1ba;
  background-color: white;
}
.register {
  margin-right: 20px;
}
.sole {
  background-color: #2cb1ba;
  color: white;
  margin-left: 58px;
}
.button-float {
  display: none;
}
.header-profile {
  display: flex;
}
.header-user-button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100px;
  height: 30px;
  z-index: 9;
  background-color: white;
  border: none;
  /* background-color: rebeccapurple; */
  margin-left: 20px;
}

.header-user-button > h2 {
  margin-right: 10px;
  font-size: 20px;
}
.header-user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  /* background-color: rebeccapurple; */
}
.header-user-img > img {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
@media all and (min-width: 0px) and (max-width: 960px) {
  .Header {
    display: flex;
    background-color: white;
    /* background-color: rebeccapurple; */
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
  }
  .logo-image {
    min-width: 90px;
    height: 35px;
    margin-right: 10px;
    /* background-color: rebeccapurple; */
  }

  .search > input {
    margin-right: 5px;
    width: 180px;
    /* background-color: royalblue; */
  }
  .bars {
    display: inherit;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    z-index: 10;
    margin-left: 5px;
    /* margin-right: 5px; */
    /* background-color: red; */
  }
  .box-button {
    /* background-color: red; */
    min-width: 0px;
    justify-content: end;
  }
  .button-float {
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    top: 60px;
    right: 5px;
    width: 150px;
    padding: 20px;
    /* height: 150px; */
    border-radius: 10px;
    border: 1px #ffecd4 solid;
    box-shadow: 2px 2px 2px 2px #e9e9e9;
    background-color: white;
    box-sizing: border-box;
  }
  .button-float > div {
    display: flex;
    width: 115px;
    margin-right: 0px;
    /* background-color: red; */
  }
  .register {
    margin-right: 0px;
  }
  .sole {
    background-color: #2cb1ba;
    color: white;
    font-size: 12px;
    margin-left: 0px;
  }

  .sign-out {
    border: 1px solid rgb(151, 49, 49);
    background-color: rgb(151, 49, 49);
    color: white;
    margin-bottom: 10px;
  }
  .register,
  .login {
    border: 1px solid #2cb1ba;
    border-radius: 5px;
    height: 30px;
    width: 115px;
    margin-bottom: 10px;
  }
  .header-button {
    display: none;
  }
}
