@import "./Components/Loading-page/Loading-page.css";
@import "./Components/Header/Header.css";
@import "./containers/Home-page/Home.css";
@import "./containers/Offer-page/Offer.css";
@import "./Components/SignUp/SignUp.css";
@import "./Components/Login/Login.css";
@import "./containers/MyUserAccount/MyUserAccount.css";
@import "./containers/MyOffer/MyOffer.css";
@import "./containers/SellYourItems/SellYourItems.css";
@import "./containers/UpdateUser/UpdateUser.css";
@import "./containers/MyOfferUpdate/MyOfferUpdate.css";
@import "./containers/Payment/Payment.css";
body {
  background-color: #f1efef;
  /* background-color: lightgreen; */
}
button:hover {
  opacity: 0.6;
}
